@media screen and (max-width: 800px) {
  .temple-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
    gap: 0.5rem;
  }

  #menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
  }

  .header-nav {
    position: relative;
    z-index: 1;
  }

  .show li {
    display: block;
  }

  #menu::before {
    content: "☰";
  }

  #menu.show::before {
    content: "X";
  }

  /* Hide the nav on small screens by default */
  #nav-menu {
    display: none;
    position: absolute;
    top: 3.25rem;
    right: 0;
    left: 0;
    background: purple;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding: 12px 18px;
    z-index: 999;
  }

  /* Show the nav when "open" */
  #nav-menu.open {
    display: flex;
  }
}
