@media screen and (max-width: 500px) {
  .temple-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
    gap: 0.5rem;
  }
}
