@media screen and (max-width: 500px) {
  .temple-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    gap: 1rem;
    justify-items: stretch;
    align-content: start;
    border: 5px solid red !important;
  }
}
